<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<context:component-scan base-package="com.wirelessorder.dao"/>
    <context:component-scan base-package="com.wirelessorder.service"/>
	
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://56d6b10631055.sh.cdb.myqcloud.com:4003/wireless_order?characterEncoding=utf8" />
		<property name="username" value="cdb_outerroot" />
		<property name="password" value="metis123456" />
	</bean>
	
	<bean id="userDao"  
        class="com.wirelessorder.dao.UserDao">  
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="mealDao"  
        class="com.wirelessorder.dao.MealDao">  
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="orderDao"  
        class="com.wirelessorder.dao.OrderDao">  
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="adminDao"  
        class="com.wirelessorder.dao.AdminDao">  
        <property name="dataSource" ref="dataSource" />
    </bean>

</beans>